.events-show {

  a,
  a:hover,
  a:focus,
  a:visited {
    text-decoration: none
  }

  a:hover .panel-body{
    background-color: $beige;
  }

  .panel-body {

    h2,
    h3,
    h4,
    h5 {
      margin-top: 0;
    }

    h5 {
      margin-bottom: 5px;
    }
  }

  .btn-primary,
  .btn-danger {
    font-size: 36px;
    width: 100%;
    margin: 30px 0 20px 0;
  }

  .btn-danger {
    font-size: 24px;
  }

}
