
p As one of our regular volunteers we are expecting you at our upcoming event.  

h2 = @event.event_name
h2 = @event.date

| For more details please visit the event page at: 
= link_to 'Event page', event_url(@event)

p If you are unable to join us please log on and cancel your registration.