p PPIS have announced a new event and are looking for volunteers – can you help?

h2 = @event.event_name
h2 = @event.date

| For more details please visit the event page at: 
= link_to 'Event page', event_url(@event)
