We have just announced another event and need volunteers like you!

h2 = @event.event_name
h4 = @event.location
p = @event.description

To sign up for this event please visit the event page
  link to "event page" @event