h4 
  | Hello 
  = @volunteer.name

p Thank you for registering! Your volunteer application will be reviewed and you will be contacted should you be selected for the position.
p  You can view the status of your application anytime in your application history.

h4 = @event.event_name
h4 = @event.date

