<h2>Current List of PPIS Centers</h2>
<table border="1px">
<!--
  <thead>
  <tr>
    <th colspan="2">List of PPIS Centers</th>
  </tr>
</thead>
-->
<tbody>
<% @centers.each do |center| %>
  <tr>
    <td id="center_name"><%= center.name %></td>
    <td id="details"><%= link_to 'Details', center %></td>
  </tr>
<% end %>
</tbody>

</table>

