body.admin-volunteers-index {

  .form-group{
    padding: 20px;
  }

  .text_field_tag{
    border-radius: 5px;
    border: 0.5px solid #777;
  }

  .submit_tag{
    border-radius: 3px;
    background: #e5e5e5;
    border: 0.5px solid #777;
    margin-left: 5px;
  }


}
