body.admin-volunteers-show {
  .volunteer-details {
    dt {
      float: left;
      margin-right: 10px;
      text-align: right;
      width: 150px;
    }
  }
  
  h2.inactive {
    color: red;
  }

  p {
  font-size: 30px;
  }
}
